apiVersion: v1
kind: PersistentVolume
metadata:
  name: pv-video-uploads
  namespace: streamify
spec:
  storageClassName: manual
  capacity:
    storage: 2Gi
  accessModes:
    - ReadWriteMany
  hostPath:
    path: "/mnt/data/video-uploads"

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-video-uploads
  namespace: streamify
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 2Gi
