apiVersion: apps/v1
kind: Deployment
metadata:
  name: analytics-service
  namespace: streamify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: analytics-service
  template:
    metadata:
      labels:
        app: analytics-service
    spec:
      automountServiceAccountToken: false
      containers:
        - name: analytics-service
          image: shruthiupadhya/analytics-service:v1
          ports:
            - containerPort: 8083
          env:
            - name: DB_HOST
              value: postgres-analytics
            - name: DB_NAME
              value: analyticsdb
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-analytics-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-analytics-secret
                  key: password
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
