apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway
  namespace: streamify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: api-gateway
  template:
    metadata:
      labels:
        app: api-gateway
    spec:
      automountServiceAccountToken: false
      containers:
        - name: api-gateway
          image: streamify-api-gateway
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3000
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
          envFrom:
            - configMapRef:
                name: streamify-config
            - secretRef:
                name: streamify-secrets
