apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: streamify
spec:
  selector:
    matchLabels:
      app: auth-service
  replicas: 1
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      automountServiceAccountToken: false
      containers:
        - name: auth-service
          image: streamify-auth
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3001
          env:
            - name: PORT
              value: "3001"
            - name: DATABASE_URL
              value: postgresql://streamify_user:streamify_pass@postgres-auth:5432/streamify_auth
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: streamify-secrets
                  key: JWT_SECRET
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
