apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing-service
  namespace: streamify
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing-service
  template:
    metadata:
      labels:
        app: billing-service
    spec:
      automountServiceAccountToken: false
      containers:
        - name: billing-service
          image: streamify-billing
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 3004
          env:
            - name: DB_HOST
              value: postgres-billing
            - name: DB_NAME
              value: billingdb
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: postgres-billing-secret
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: postgres-billing-secret
                  key: password
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"
